@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.inputComment{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-evenly;
    align-items: baseline;

    input{
        width: 80%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    button{
        padding: 10px 20px;
        background-color: #267ea4;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}


.commentbox{
    height: auto;
    margin-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #D9D9D9;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.commentList{
    margin-left: 8%;
    padding-right: 8%;
    font-family: Roboto;
}


.commentName{
    font-weight: 700;
    font-size: 18px;
    font-weight: bold;
    font-size: 16px;
    color: #555;
}

.commentText{
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
    margin: 10px 0;
    font-size: 14px;
    color: #333;
}

.post_comment{
    background-color: #D9D9D9;
    border-radius: 42px;
    height: auto;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 20px;
    flex-direction: column;
}

.Head{
    height: 9px;
    font-weight: 900;
    margin-right: 10px;
    color : rgba(0, 0, 0, 0.48);
}

.postcontent{
    font-weight: 500;
}

.Numberofcomment{
    display:flex;
    justify-content: flex-end;
    font-weight: 400;
    margin-left: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.number{
    height: 24px;
    display: flex;
    background-color: #B9B9B9;
    background-origin: padding-box;
    border-radius: 42px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin-right: 2%;
}

.commenticon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}



.icon-group-comment{
    display: flex;
    justify-content: flex-end;
    padding-left: 70%;
    padding-bottom: 1%;

    .number{
        height: 24px;
        display: flex;
        background-color: #B9B9B9;
        background-origin: padding-box;
        border-radius: 42px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 2%;
        align-items: center;
    }

    .voteimg{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-right: 1%;
    }
}

.input-group textarea {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.input-group textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}