.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.post {
    width: 15%;
    height: 300px;
    background-color: #D9D9D9;
    margin-top: 40px;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.post-name {
    text-align: center;
}

.post-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.topost-btn{
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding: 12px 24px;
    margin-left: 1.5%;
    border-radius: 50%;
    background-color: #989898;
    color: white;
    border: none;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topost-btn:hover {
    background-color: #7d7d7d;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.topost-btn:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.topost-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%, -50%);
    transform-origin: 50% 50%;
}

.topost-btn:focus {
    outline: none;
}

.topost-btn:focus::after {
    animation: ripple 1s ease-out;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        transform: scale(100, 100);
        opacity: 0;
    }
}

.topost-icon{
    color: aliceblue;
    width: 50px;
}

.delete-btn{
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #525151;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.delete-btn:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

