@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Thai:wght@100..900&display=swap');



.box{
    width: 60vw;
    height: 35vw;
    background-color:#FFFFFF;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 42px;
    padding-top: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .display-name{
    font-family: IBM Plex Sans;
    font-size: 1.4vw;
    margin-left: 5%;
  }
  
  .name-input{
    width: 15vw;
    height: 2.5vw;
    font-family: IBM Plex Sans;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.4vw;
    font-weight: 500;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 12px;
    background-color: #f1f1f1;
    margin-left: 5%;
  }
  
  .btn{
    font-family: IBM Plex Sans;
    font-size: 16pt;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: white;
    background: #F8505E;
    border-radius: 10px;
    width: 22vw;
    height: 3vw;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 13px 15px 13px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 1.2vw;
  }

  .btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .thought{
    font-family: IBM Plex Sans;
    font-size: 1.4vw;
    margin-left: 5%;
  }
  
  .thought-input{
    font-family: IBM Plex Sans;
    width: 90%;
    height: 18vw;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 1.4vw;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 12px;
    resize: none;
    background-color: #f1f1f1;
  }


.full-screen-page{
  width: 100%;
  height: 100vw;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #f1f4f5, #e3e4e4);
  background-size: 200% 200%;
  animation: oceanWave 5s linear infinite;
}

.submit-btn-container{
  margin: 1% 1% 1% 1%;
}

.input-group{
  display: flex;
  justify-content: center;
}


@keyframes oceanWave {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
