@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.signinpage {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  background-color: #f5f5f5;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  font-family: Poppins;
}

form{
  margin-top: 5.6%;
  margin-left: 5%;
  margin-right: 85%;
  margin-bottom: 5.6%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
}

.form-signin {
  font-family: Poppins;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  border: 0.5px solid #878787;
  width: 28%;
  padding: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  margin: 0; /* Remove margins */
  .wec{
    display: flex;
    font-weight: 300;
    color: #333333;
    font-size: 25px;
    margin-bottom: 7%;

  }

  .h3mb-3fw-normal{
    display: flex;
    font-weight: 500;
    color: #333333;
    font-size: 31px;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  p{
    display: flex;
    font-weight: 400;
    color: #6c757d;
    margin-bottom: 10%;
    margin-top: 0%;
    font-size: 16px;
  }

  .mt-5mb-3text-muted{
    display: flex;
    font-weight: 300;
    color: #6c757d;
    margin-bottom: 4%;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    a{
      margin-left: 5px;
      color: #000306;
      font-weight: 500;
      text-decoration: none;
      transition: transform 0.3s ease-in-out;
    }

    a:hover{
      transform: scale(1.05);
    }
  }

  button{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 5%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  button:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h3mb-3fw-normal{
  display: flex;
  margin-bottom: 0px;
  font-size: 31px;
}

.form-floating{

  margin-bottom: 20px;

  p{
    color: #000306;
    margin-bottom: 0%;
  }


  #floatingInput{
    font-family: Poppins;
    font-size: 16px;
    padding-left: 3%;
    width: 96%;
    color: #000306;
    border-radius: 5px;
    display: flex;
    border: 0.6px solid rgba(40, 40, 40, 1);
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 58px;
  }

  #floatingPassword{
    font-family: Poppins;
    font-size: 16px;
    padding-left: 3%;
    width: 96%;
    color: #000306;
    border-radius: 5px;
    display: flex;
    border: 0.6px solid rgba(40, 40, 40, 1);
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 58px;
  }

  #floatingUsername{
    font-family: Poppins;
    font-size: 16px;
    padding-left: 3%;
    width: 96%;
    color: #000306;
    border-radius: 5px;
    display: flex;
    border: 0.6px solid rgba(40, 40, 40, 1);
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 58px;
  }

  #floatingConfirmPassword{
    font-family: Poppins;
    font-size: 16px;
    padding-left: 3%;
    width: 96%;
    color: #000306;
    border-radius: 5px;
    display: flex;
    border: 0.6px solid rgba(40, 40, 40, 1);
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 58px;
  }
  
}

.checkboxmb-3{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 300;

  a{
    color: rgba(77, 77, 77, 1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  a:hover{
    transform: scale(1.05);
  }
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){
  padding-top: 0%;
  padding-bottom: 0%;
}